# Data Structures in Python

* Tuples
* List
* Dictionary
* Sets

### Tuples
- Ordered Collection of elements
- unmutable, once entered element canot be changed
- enclosed with () brackets
- Different kind of elements can be stored (int, float, str, bool)

In [1]:
tup1 = (2,3.5,"hello",True)
tup1

(2, 3.5, 'hello', True)

In [2]:
# type of tuple
type(tup1)

tuple

In [3]:
# indexing in Tuple
tup1[0], tup1[1:2], tup1[2:], tup1[:2]  # last element is exclusive

(2, (3.5,), ('hello', True), (2, 3.5))

In [4]:
# length (elements in tuple)
len(tup1)

4

In [5]:
# concatenate
tup2 = (2,3.5,"hello",False)
tup1 + tup2

(2, 3.5, 'hello', True, 2, 3.5, 'hello', False)

In [9]:
tup1*2+tup2

(2, 3.5, 'hello', True, 2, 3.5, 'hello', True, 2, 3.5, 'hello', False)

In [10]:
tup3 = (20,50,30,60,79,85,90,100)
min(tup3), max(tup3), sum(tup3)

(20, 100, 514)

---

### List
- Ordered Collection of elements
- mutable, once entered element can be changed
- enclosed with [] brackets
- Different kind of elements can be stored [int, float, str, bool]

Q - What's the difference b/w List & Array? <br>
A - Array are like list, however, Array can store elements of only one data type but List can store the elements of different data types too. Hence, Array stores homogeneous data values, and the list can store heterogeneous data values.

In [25]:
lst1 = [2,3.5,"hello",True]
lst1

[2, 3.5, 'hello', True]

In [12]:
type(lst1)

list

In [13]:
len(lst1)

4

In [14]:
lst1[0:2], lst1[1:2], lst1[:3], lst1[1:]

([2, 3.5], [3.5], [2, 3.5, 'hello'], [3.5, 'hello', True])

In [15]:
lst2 = [2,3.5,"hello",False]
lst1 + lst2

[2, 3.5, 'hello', True, 2, 3.5, 'hello', False]

In [19]:
lst1.reverse()
lst1

[True, 'hello', 3.5, 2]

In [26]:
lst1.append(100)
lst1.append([200,300, "YT Channel"])

# more u run append.. it will add more elements to the list

In [27]:
lst1

[2, 3.5, 'hello', True, 100, [200, 300, 'YT Channel']]

In [28]:
lst1[3:]

[True, 100, [200, 300, 'YT Channel']]

In [29]:
lst1[5]

[200, 300, 'YT Channel']

In [30]:
lst1[5][1]   # 2nd element of 6th element

300

In [42]:
lst3 = [20,50,30,60,79,85,90,100]
lst3

[20, 50, 30, 60, 79, 85, 90, 100]

In [32]:
len(lst3)

8

In [34]:
#sort a list
lst3.sort()
lst3

[20, 30, 50, 60, 79, 85, 90, 100]

In [36]:
lst3.clear()
lst3

[]

In [43]:
lst3.count(100) # count the number of times 3 is present in the list

1

---

### Dictionary
- Unordered Collection of elements
- Key & Value
- mutable, once entered element can be changed
- enclosed with {} brackets

In [53]:
d1 = {"name":"John", "age":30, "salary":50000}
d2 = {"name":"John", "age":30, "salary":50000, "Last name":"John"}
type(d1), type(d2)

(dict, dict)

In [45]:
# Extract Data
keys = d1.keys()
keys

dict_keys(['name', 'age', 'salary'])

In [46]:
val = d1.values()
val

dict_values(['John', 30, 50000])

In [49]:
# Adding Data
d1["Age"] = 30
d1

{'name': 'John', 'age': 30, 'salary': 50000, 'Age': 30}

In [50]:
# update data
d1["Age"] = 40            # age changes from 30 to 40
d1

{'name': 'John', 'age': 30, 'salary': 50000, 'Age': 40}

In [54]:
# concatenate
d1.update(d2)   # will avoid overlapping items, unlike list and concatenate with only new elements
d1

{'name': 'John', 'age': 30, 'salary': 50000, 'Last name': 'John'}

---

### Sets
- Unordered and un-indexed
- No duplicates   &  No Boolean
- mutable, once entered element can be changed
- enclosed with {} brackets

In [55]:
S = {1,2,3,4,5,6,7,8,9,10}
type(S)

set

In [56]:
S1 = {1,2,9,"Naveed",True, 3.5}  # set can have different data types
S1

{1, 2, 3.5, 9, 'Naveed'}

In [3]:
# Example (W/H)^2
name = input("Enter your name: ")
weight = float(input("Enter your weight in kg: "))
height = float(input("Enter your height in m: "))
bmi = weight/(height**2)
if bmi < 18.5:
    simple = "Underweight"
elif bmi >= 18.5 and bmi < 25:
    simple = "Normal"
elif bmi >= 25 and bmi < 30:
    simple = "Overweight"
print("Hello", name, "your BMI is", bmi, "and you are", simple)

Hello Naveed your BMI is 28.39506172839506 and you are Overweight